* {
    font-family: 'Hind', sans-serif;
    font-size: 1.2rem;
}

.root {
    display: flex;
    height: 100%;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}

.label {
    display: block;
    min-width: 120px;
    padding: 1px;
}

.btn_submit {
    border-radius: 4px;
    background-color: #2a6fd6;
    color: white;
    border: none;
    padding: 2px 4px;
    font-size: 1.1rem;
    cursor: pointer;
    font-size: 1.2rem;
    justify-content: center;
}

input {
    border-radius: 6px;
    border: solid 1px #cccccc; 
    font-size: 1.1rem;
}