<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>{{ food_detail.name }}</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ food_item.ytid }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img src="{{ food_detail.image }}" alt="">
    <a href="{{ food_detail.link }}"></a>

</body>
</html>