<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>character list</title>
</head>
<body>
    <h1>Hello {{ session["token"] }}</h1>
        { % for character in character_list % }
            <h5>{{ character.name }}</h5>
            <img src="{{ character.image }}" alt="{{ character.name }}">
            <a href="/character/{{ character.id }}">Detail</a>
        { % endfor %}
</body>
</html>